<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
</head>

<body>

    <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
    <input type="hidden" name="_csrf_header" th:value="${_csrf.headerName}" />

    <header th:replace="~{fragments/header :: header}"></header>

    <div layout:fragment="content"></div>

    <!-- <footer th:replace="~{fragments/footer :: footer}"></footer> -->
</body>

</html>